<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacto</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home/contacto.css">
</head>

<body>
    <header>
        <a th:href="@{/}">
            <div class="logo"><img src="/Imagenes/logoTienda.gif" /></div>
            <span class="titulo">ULTRAMARINOS AGRAS</span>
        </a>
        <div class="enlaces">
            <a class="condiciones" href="/terminos">TERMINOS Y CONDICIONES</a>
            <a class="condicones" href="/ayuda">AYUDA</a>
        </div>
    </header>
    <nav>
        <a id="menu" th:href="@{/productos/}">
            <span class="material-symbols-outlined">
                list
            </span>
            <span>Productos</span>
        </a>
        <div>
            <a th:href="@{/clientes/}">
                <span class="material-symbols-outlined">
                    group
                </span>
                <span>CLIENTES</span>
            </a>
            <a th:href="@{/pedidos/}">
                <span class="material-symbols-outlined">
                    inventory_2
                </span>
                <span>PEDIDOS</span>
            </a>
            <a th:href="@{/categorias/}">
                <span class="material-symbols-outlined">
                    category
                </span>
                <span>CATEGORIAS</span>
            </a>
            <a href="/contact">
                <span class="material-symbols-outlined">
                    call
                </span>
                <span>CONTACTO</span>
            </a>
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/usuarios/}">
                <span class="material-symbols-outlined">
                    group
                </span>
                <span>USUARIOS</span>
            </a>
            <a sec:authorize="!isAuthenticated()" th:href="@{/login}">
                <span class="material-symbols-outlined">
                    person
                </span>
                <span>INICIO SESION</span>
            </a>
            <a sec:authorize="!isAuthenticated()" th:href="@{/registro/nuevo}">
                <span class="material-symbols-outlined">
                    edit
                </span>
                <span>REGÍSTRATE</span>
            </a>
            <a class="nav-item ms-md-auto dropdown" sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span sec:authentication="name"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" th:href="@{/logout}">Cerrar sesión GET</a></li>
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <button class="dropdown-item" type="submit" style="margin-left: 15px;">Cerrar sesión
                                POST</button>
                        </form>
                    </li>
                </ul>
            </a>
            <a th:href="@{/carrito}">
                <span class="material-symbols-outlined">
                    shopping_cart
                </span>
            </a>
        </div>
    </nav>
    <main class="container">
        <div class="row">
            <section class="contact-section col-md-6 mr-md-4">
                <h1>Contacto</h1>
                <p>¡Estamos encantados de escucharte! Por favor, completa el formulario a continuación para ponerte en contacto con nosotros.</p>
                <p>Nuestro número de teléfono es: <strong>981916232</strong></p>
                <img src="/Imagenes/telefono.png" alt="Teléfono de contacto">
            </section>
            <section class="contact-form col-md-6 ml-md-4">
                <h2>Formulario de contacto</h2>
                <form id="contactForm" action="#" method="post" th:action="@{/contact/submit}" th:object="${formInfo}">
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" th:field="*{nombre}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" id="email" th:field="*{email}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="lista">Escoje una opción:</label>
                        <select id="lista" th:field="*{lista}" class="form-control">
                            <option value="Queja" selected>Queja</option>
                            <option value="Consulta">Consulta</option>
                            <option value="Otros">Otros</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="comentario">Comentarios:</label>
                        <textarea id="comentario" th:field="*{comentario}" class="form-control" rows="4"></textarea>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" id="check" th:field="*{check}" class="form-check-input">
                        <label for="check" class="form-check-label">Aceptar condiciones</label>
                    </div>
                    <button type="submit" class="btn btn-enviar">Enviar</button>
                </form>
            </section>
        </div>
    </main>
    <footer>
        <a href="mailto:ultramarinosagras@gmail.com">
            <span class="material-symbols-outlined">
                mail
            </span>
            <span>ultramarinosagras@gmail.com</span>
        </a>
        <div>
            <a href="https://twitter.com/home">
                <img class="Twitter" src="/Imagenes/SVG/Twitter.svg" />
            </a>
            <a href="https://www.facebook.com/">
                <img src="/Imagenes/SVG/Facebook_icon.svg" />
            </a>
            <a href="https://www.instagram.com/">
                <img src="/Imagenes/SVG/Instagram.svg" />
            </a>
        </div>
    </footer>
    <script src="/js/home/contacto.js"></script>
</body>

</html>
