<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home/terminos.css">
</head>

<body>
    <header>
        <a th:href="@{/}">
            <div class="logo"><img src="/Imagenes/logoTienda.gif" /></div>
            <span class="titulo">ULTRAMARINOS AGRAS</span>
        </a>
        <div class="enlaces">
            <a class="condiciones" href="/terminos">TERMINOS Y
                CONDICIONES</a>
            <a class="condicones" href="/ayuda">AYUDA</a>
        </div>
    </header>
    <nav>
        <a id="menu" th:href="@{/productos/}">
            <span class="material-symbols-outlined">
                list
            </span>
            <span>Productos</span>
        </a>
        <div>
            <a th:href="@{/clientes/}">
                <span class="material-symbols-outlined">
                    group
                </span>
                <span>CLIENTES</span>
            </a>
            <a th:href="@{/pedidos/}">
                <span class="material-symbols-outlined">
                    inventory_2
                </span>
                <span>PEDIDOS</span>
            </a>
            <a th:href="@{/categorias/}">
                <span class="material-symbols-outlined">
                    category
                </span>
                <span>CATEGORIAS</span>
            </a>
            <a href="/contact">
                <span class="material-symbols-outlined">
                    call
                </span>
                <span>CONTACTO</span>
            </a>
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/usuarios/}">
                <span class="material-symbols-outlined">
                    group
                </span>
                <span>USUARIOS</span>
            </a>
            <a sec:authorize="!isAuthenticated()" th:href="@{/login}">
                <span class="material-symbols-outlined">
                    person
                </span>
                <span>INICIO SESION</span>
            </a>
            <a sec:authorize="!isAuthenticated()" th:href="@{/registro/nuevo}">
                <span class="material-symbols-outlined">
                    edit
                </span>
                <span>REGÍSTRATE</span>
            </a>
            <a class="nav-item ms-md-auto dropdown" sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span sec:authentication="name"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" th:href="@{/logout}">Cerrar sesión GET</a></li>
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <button class="dropdown-item" type="submit" style="margin-left: 15px;">Cerrar sesión
                                POST</button>
                        </form>
                    </li>
                </ul>
            </a>
            <a th:href="@{/carrito}">
                <span class="material-symbols-outlined">
                    shopping_cart
                </span>
            </a>
        </div>
    </nav>
    <main>
        <h2 style="text-align: center;"><strong>Términos y Condiciones de Uso</strong></h2>
        <p>&nbsp;</p>
        <p><strong>INFORMACIÓN RELEVANTE</strong></p>
        <p>Es requisito necesario para la adquisición de los productos que se ofrecen en este sitio, que lea y acepte
            los siguientes Términos y Condiciones que a continuación se redactan. El uso de nuestros servicios así como
            la compra de nuestros productos implicará que usted ha leído y aceptado los Términos y Condiciones de Uso en
            el presente documento. Todas los productos &nbsp;que son ofrecidos por nuestro sitio web pudieran ser
            creadas, cobradas, enviadas o presentadas por una página web tercera y en tal caso estarían sujetas a sus
            propios Términos y Condiciones. En algunos casos, para adquirir un producto, será necesario el registro por
            parte del usuario, con ingreso de datos personales fidedignos y definición de una contraseña.</p>
        <p>El usuario puede elegir y cambiar la clave para su acceso de administración de la cuenta en cualquier
            momento, en caso de que se haya registrado y que sea necesario para la compra de alguno de nuestros
            productos. Ultramarinos Agras no asume la responsabilidad en caso de que entregue dicha clave a terceros.
        </p>
        <p>Todas las compras y transacciones que se lleven a cabo por medio de este sitio web, están sujetas a un
            proceso de confirmación y verificación, el cual podría incluir la verificación del stock y disponibilidad de
            producto, validación de la forma de pago, validación de la factura (en caso de existir) y el cumplimiento de
            las condiciones requeridas por el medio de pago seleccionado. En algunos casos puede que se requiera una
            verificación por medio de correo electrónico.</p>
        <p>Los precios de los productos ofrecidos en esta Tienda Online es válido solamente en las compras realizadas en
            este sitio web.</p>
        <p><strong>LICENCIA</strong></p>
        <p>Ultramarinos Agras&nbsp; a través de su sitio web concede una licencia para que los usuarios utilicen&nbsp;
            los productos que son vendidos en este sitio web de acuerdo a los Términos y Condiciones que se describen en
            este documento.</p>
        <p><strong>USO NO AUTORIZADO</strong></p>
        <p>En caso de que aplique (para venta de software, templetes, u otro producto de diseño y programación) usted no
            puede colocar uno de nuestros productos, modificado o sin modificar, en un CD, sitio web o ningún otro medio
            y ofrecerlos para la redistribución o la reventa de ningún tipo.</p>
        <p><strong>PROPIEDAD</strong></p>
        <p>Usted no puede declarar propiedad intelectual o exclusiva a ninguno de nuestros productos, modificado o sin
            modificar. Todos los productos son propiedad &nbsp;de los proveedores del contenido. En caso de que no se
            especifique lo contrario, nuestros productos se proporcionan&nbsp; sin ningún tipo de garantía, expresa o
            implícita. En ningún esta compañía será &nbsp;responsables de ningún daño incluyendo, pero no limitado a,
            daños directos, indirectos, especiales, fortuitos o consecuentes u otras pérdidas resultantes del uso o de
            la imposibilidad de utilizar nuestros productos.</p>
        <p><strong>POLÍTICA DE REEMBOLSO Y GARANTÍA</strong></p>
        <p>En el caso de productos que sean&nbsp; mercancías irrevocables no-tangibles, no realizamos reembolsos después
            de que se envíe el producto, usted tiene la responsabilidad de entender antes de comprarlo. &nbsp;Le pedimos
            que lea cuidadosamente antes de comprarlo. Hacemos solamente excepciones con esta regla cuando la
            descripción no se ajusta al producto. Hay algunos productos que pudieran tener garantía y posibilidad de
            reembolso pero este será especificado al comprar el producto. En tales casos la garantía solo cubrirá fallas
            de fábrica y sólo se hará efectiva cuando el producto se haya usado correctamente. La garantía no cubre
            averías o daños ocasionados por uso indebido. Los términos de la garantía están asociados a fallas de
            fabricación y funcionamiento en condiciones normales de los productos y sólo se harán efectivos estos
            términos si el equipo ha sido usado correctamente. Esto incluye:</p>
        <p>– De acuerdo a las especificaciones técnicas indicadas para cada producto.<br>– En condiciones ambientales
            acorde con las especificaciones indicadas por el fabricante.<br>– En uso específico para la función con que
            fue diseñado de fábrica.<br>– En condiciones de operación eléctricas acorde con las especificaciones y
            tolerancias indicadas.</p>
        <p><strong>COMPROBACIÓN ANTIFRAUDE</strong></p>
        <p>La compra del cliente puede ser aplazada para la comprobación antifraude. También puede ser suspendida por
            más tiempo para una investigación más rigurosa, para evitar transacciones fraudulentas.</p>
        <p><strong>PRIVACIDAD</strong></p>
        <p>Este Ultramarinos Agras garantiza que la <a href="" target="_blank"></a> información personal que usted envía
            cuenta con la seguridad necesaria. Los datos ingresados por usuario o en el caso de requerir una validación
            de los pedidos no serán entregados a terceros, salvo que deba ser revelada en cumplimiento a una orden
            judicial o requerimientos legales.</p>
        <p>La suscripción a boletines de correos electrónicos publicitarios es voluntaria y podría ser seleccionada al
            momento de crear su cuenta.</p>
        <p>Ultramarinos Agras reserva los derechos de cambiar o de modificar estos términos sin previo aviso.</p>
    </main>
    <footer>
        <a href="mailto:ultramarinosagras@gmail.com">
            <span class="material-symbols-outlined">
                mail
            </span>
            <span>ultramarinosagras@gmail.com</span>
        </a>
        <div>
            <a href="https://twitter.com/home">
                <img class="Twitter" src="/Imagenes/SVG/Twitter.svg" />
            </a>
            <a href="https://www.facebook.com/">
                <img src="/Imagenes/SVG/Facebook_icon.svg" />
            </a>
            <a href="https://www.instagram.com/">
                <img src="/Imagenes/SVG/Instagram.svg" />
            </a>
        </div>
    </footer>
</body>

</html>