* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    color: white;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden; 
}

.titulo {
    text-shadow: .15rem .15rem .25rem;
}


header {
    background-color: #5a1111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    flex-wrap: wrap;
}

header > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    flex-direction: row;
}

header > a > .logo {
    float: left;
    justify-content: center;
    vertical-align: middle;
    width: 200px;
    height: 110px;
    overflow: hidden;
    margin-left: -15px;
}

header > a > .logo > img {
    margin-top: -45px;
    height: 200px;
    vertical-align: middle;
}

header > a > .titulo {
    font-size: 1.5rem;
}

header > .enlaces {
    display: flex;
    gap: 1rem;
}

header > .enlaces > a {
    background-color: #5B1212;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    filter: drop-shadow(0.5rem 0.25rem 0.25rem black);
    text-decoration: none;
    color: white;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header > a {
        margin-bottom: 1rem;
    }

    header > .enlaces {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    header > .enlaces > a {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 480px) {
    header > a > .titulo {
        font-size: 1.2rem;
    }

    header > .enlaces > a {
        padding: 0.5rem;
    }
}

@media (max-width: 415px) {
    header > a > .titulo {
        font-size: 1rem; 
    }
}

@media (max-width: 325px) { 
    header > a {
        flex-direction: column; 
        align-items: center;
    }

    header > a > .titulo {
        margin-left: 60px;
        margin-top: 0.5rem; 
        font-size: 1rem; 
    }
}

nav {
    background-color: #5a1111;
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

nav a {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-left: 1rem;
    text-decoration: none;
}

nav a > * {
    color: white;
    margin: auto;
}

nav a > :last-child {
    margin-left: .5rem;
}

nav > a {
    font-size: 20px;
}

nav > a > .material-symbols-outlined {
    font-size: 1.75em;
}

nav > div {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

nav > div > a:last-child {
    margin-right: 1rem;
}

nav > div > a:last-child > span {
    margin-right: 0;
}

@media (max-width: 910px) {
    nav {
        justify-content: flex-start; 
        padding: 1rem;
    }

    nav > a, nav > div > a {
        margin-left: 0;
        margin-right: 1rem; 
        font-size: 18px;
    }

    nav > div {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        width: 100%;
    }

    nav > div > a {
        width: auto; 
        text-align: left; 
    }

    nav > div > a > .material-symbols-outlined {
        font-size: 1.5em;
    }

    nav > div > a > span {
        font-size: 0.8em;
    }

    nav > a#menu {
        width: 100%;
        text-align: left;
        margin-bottom: 0.5rem;
    }
}

@media (min-width: 911px) {
    nav {
        justify-content: space-between;
    }

    nav > a#menu {
        width: auto;
        text-align: center;
        padding-left: 0;
        margin-left: 1rem;
        margin-bottom: 0;
    }
}


footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    background-color: black;
}

footer a img {
    aspect-ratio: 1/1;
    height: 2.5rem;
}

footer > a {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-left: 1rem;
    text-decoration: none;
}

footer > a > * {
    margin: auto;
    color: white;
}

footer > a > .material-symbols-outlined {
    font-size: 1.75em;
}

footer > a > :last-child {
    margin-left: .5rem;
}

footer > div {
    display: flex;
    gap: 1rem;
    margin-right: 1rem;
}

.Twitter {
    border-radius: 10%;
    overflow: hidden;
}

#dropdownMenuLink {
    margin-bottom: -.5px;
    margin-left: -1px;
    text-transform: uppercase;
}
@media (max-width: 600px) {
    footer {
        flex-direction: column;
        align-items: flex-start;
    }

    footer > a {
        margin-left: 0;
        margin-bottom: 1rem;
    }

    .social-links {
        margin-right: 0;
    }
}

@media (max-width: 270px) { 
    footer {
        flex-direction: column;
        align-items: flex-start;
    }

    footer > a {
        display: flex; 
        flex-direction: column; 
        align-items: flex-start; 
        margin-left: 0;
        margin-bottom: 1rem;
    }

    footer > a > * {
        margin: 0.5rem 0; 
        text-align: left; 
    }

    footer > div {
        margin-right: 0;
        margin-top: 1rem; 
    }
}


main {
    color: black;
    background-color: white;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 1200px; 
}

.table-responsive {
    width: 100%; 
    overflow-x: auto; 
    
}

.btn-nueva-valoracion {
    margin-left: -1140px; 
    background-color: #5B1212;
    color: white;
}

.btn-nueva-valoracion:hover {
    background-color: #5B1212;
    color: white;
}

table {
    border-collapse: collapse;
}

.btn-editar{
    background-color: black;
    color: white;
}
.btn-editar:hover{
    background-color: black;
    color: white;
}

.btn-valoraciones {
    background-color: #5B1212;
    color: white;
}

.btn-valoraciones:hover {
    background-color: #5B1212;
    color: white;
}

