
main {
    color: black;
    background-color: white;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 1200px; 
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    color: white;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
}

header,
nav,
aside {
    background-color: #5B1212;
}

.titulo {
    text-shadow: .15rem .15rem .25rem;
}

footer {
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;

    >a {

        >.logo {
            float: left;
            justify-content: center;
            vertical-align: middle;
            width: 200px;
            height: 110px;
            overflow: hidden;
            margin-left: -15px;

            >img {
                margin-top: -45px;
                height: 200px;
                vertical-align: middle;
            }
        }

        >span {
            float: right;
            display: block;
            margin: 35px 0;
            /* Ajustar al subir tamaño de letra */
            font-size: 23px;
        }
    }

    >.enlaces {
        float: right;
        margin-right: 2rem;
        display: grid;
        grid-auto-flow: column;
        vertical-align: middle;
        gap: 2rem;


        >a {
            background-color: #5B1212;
            margin: auto;
            vertical-align: middle;
            padding: .75rem .75rem;
            border-radius: .75rem;
            filter: drop-shadow(.5rem .25rem .25rem black);
        }
    }
}

nav {
    display: flex;
    justify-content: space-between;
    padding: .5rem 0;

    & a {
        display: grid;
        grid-template-columns: auto 1fr;
        margin-left: 1rem;
        text-decoration: none;

        >* {
            color: white;
            margin: auto;
        }

        > :last-child {
            margin: auto;
            margin-left: .5rem;
        }

    }

    >a {
        font-size: 20px;

        >.material-symbols-outlined {
            font-size: 1.75em;
        }
    }

    >div {
        display: flex;
        gap: 1rem;

        >a:last-child {
            margin-right: 1rem;

            >span {
                margin-right: 0;
            }
        }
    }
}

header a,
header a:visited {
    color: white;
    text-decoration: none;
}

header a:focus,
header a:hover,
header a:active {
    color: white;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;

    & a {
        >img {
            aspect-ratio: 1/1;
            height: 2.5rem;
        }
    }

    >a {
        display: grid;
        grid-template-columns: auto 1fr;
        margin-left: 1rem;
        text-decoration: none;

        >* {
            margin: auto;
            color: white;
        }

        >.material-symbols-outlined {
            font-size: 1.75em;
        }

        > :last-child {
            margin-left: .5rem;
        }
    }

    >div {
        display: flex;
        gap: 1rem;
        margin-right: 1rem;
    }
}

.Twitter {
    border-radius: 10%;
    overflow: hidden;
}

#dropdownMenuLink {
    margin-bottom: -.5px;
    margin-left: -1px;
    text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
header {
flex-direction: column;
align-items: center;
}

.enlaces {
margin-right: 0;
margin-top: 1rem;
grid-auto-flow: row;
gap: 1rem;
}

nav {
flex-direction: column;
align-items: center;
padding: 1rem 0;
}

nav a {
margin: 0.5rem 0;
}

nav #menu {
margin-bottom: 1rem;
}

footer {
flex-direction: column;
align-items: center;
padding: 1rem 0;
}

footer a {
margin: 0.5rem 0;
}
}

main {
    color: black;
    background-color: white;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 1200px; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    color: white;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden; 
}

.titulo {
    text-shadow: .15rem .15rem .25rem;
}


header {
    background-color: #5a1111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    flex-wrap: wrap;
}

header > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    flex-direction: row;
}

header > a > .logo {
    float: left;
    justify-content: center;
    vertical-align: middle;
    width: 200px;
    height: 110px;
    overflow: hidden;
    margin-left: -15px;
}

header > a > .logo > img {
    margin-top: -45px;
    height: 200px;
    vertical-align: middle;
}

header > a > .titulo {
    font-size: 1.5rem;
}

header > .enlaces {
    display: flex;
    gap: 1rem;
}

header > .enlaces > a {
    background-color: #5B1212;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    filter: drop-shadow(0.5rem 0.25rem 0.25rem black);
    text-decoration: none;
    color: white;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header > a {
        margin-bottom: 1rem;
    }

    header > .enlaces {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    header > .enlaces > a {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 480px) {
    header > a > .titulo {
        font-size: 1.2rem;
    }

    header > .enlaces > a {
        padding: 0.5rem;
    }
}

@media (max-width: 415px) {
    header > a > .titulo {
        font-size: 1rem; 
    }
}

@media (max-width: 325px) { 
    header > a {
        flex-direction: column; 
        align-items: center;
    }

    header > a > .titulo {
        margin-left: 60px;
        margin-top: 0.5rem; 
        font-size: 1rem; 
    }
}

nav {
    background-color: #5a1111;
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

nav a {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-left: 1rem;
    text-decoration: none;
}

nav a > * {
    color: white;
    margin: auto;
}

nav a > :last-child {
    margin-left: .5rem;
}

nav > a {
    font-size: 20px;
}

nav > a > .material-symbols-outlined {
    font-size: 1.75em;
}

nav > div {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

nav > div > a:last-child {
    margin-right: 1rem;
}

nav > div > a:last-child > span {
    margin-right: 0;
}

@media (max-width: 910px) {
    nav {
        justify-content: center;
        padding: 1rem;
    }

    nav > a, nav > div > a {
        margin-left: 0;
        margin-right: 0;
        font-size: 18px;
    }

    nav > div {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        width: 100%;
    }

    nav > div > a {
        width: 100%;
        text-align: center;
    }

    nav > a#menu {
        width: 100%;
        text-align: left;
        padding-left: 1rem;
        margin-bottom: 0.5rem;
    }
}

@media (min-width: 911px) {
    nav {
        justify-content: space-between;
    }

    nav > a#menu {
        width: auto;
        text-align: center;
        padding-left: 0;
        margin-left: 1rem;
        margin-bottom: 0;
    }
}



footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    background-color: black;
}

footer a img {
    aspect-ratio: 1/1;
    height: 2.5rem;
}

footer > a {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-left: 1rem;
    text-decoration: none;
}

footer > a > * {
    margin: auto;
    color: white;
}

footer > a > .material-symbols-outlined {
    font-size: 1.75em;
}

footer > a > :last-child {
    margin-left: .5rem;
}

footer > div {
    display: flex;
    gap: 1rem;
    margin-right: 1rem;
}

.Twitter {
    border-radius: 10%;
    overflow: hidden;
}

#dropdownMenuLink {
    margin-bottom: -.5px;
    margin-left: -1px;
    text-transform: uppercase;
}

@media (max-width: 600px) {
    footer {
        flex-direction: column;
        align-items: flex-start;
    }

    footer > a {
        margin-left: 0;
        margin-bottom: 1rem;
    }

    .social-links {
        margin-right: 0;
    }
}

@media (max-width: 270px) { 
    footer {
        flex-direction: column;
        align-items: flex-start;
    }

    footer > a {
        display: flex; 
        flex-direction: column; 
        align-items: flex-start; 
        margin-left: 0;
        margin-bottom: 1rem;
    }

    footer > a > * {
        margin: 0.5rem 0; 
        text-align: left; 
    }

    footer > div {
        margin-right: 0;
        margin-top: 1rem; 
    }
}


.contact-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 50px;
}

.contact-form h2 {
    margin-bottom: 20px;
    font-weight: 600;
    color: #333;
}

.form-group label {
    margin-bottom: 10px;
    font-weight: 500;
}

.btn-primary {
    margin-top: 15px;
    background-color: #5B1212;
    border: none;
}

.btn-primary:hover {
    background-color: #3e0e0e;
}

.error {
    border-color: red;
}

.btn-volver {
    margin-top: 15px;
    margin-left: 10px;
    background-color: black;
    color: white;
    padding: 7px 12px;
    text-decoration: none;
    border-radius: 5px;
}

.btn-volver:hover {
    background-color: black;
    color: white;
}

.form-control {
    margin-bottom: 10px;
}


